.formControl {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--geyser);
  border-radius: var(--smRounded);
  width: 100%;
  margin: 0.75rem 0;
}

.select {
  margin: 1rem;
}

.label {
  border-left: 1px solid var(--geyser);
  padding: 1rem;
}

.flex {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1rem;
}

.terms {
  margin: 1rem 0;
}

.box {
  flex: 1;
}

.externalLink {
  margin-left: 5px;
  text-decoration: underline;
}

.formErrorMessage {
  color: red;
}
