.header {
  margin-bottom: 1rem;
}

.heading {
  font-weight: 300;
  font-size: var(--subHeading);
  line-height: 1.25;
  margin-bottom: 1.5rem;
  max-width: 350px;

  & > span {
    font-weight: 600;
    color: var(--royalBlue);
  }
}

.formHeader {
  user-select: none;
  white-space: nowrap;
  line-height: 1;

  & > h2 {
    font-weight: 500;
    font-size: var(--md);
  }
}

.text {
  font-size: var(--md);
  line-height: 1.5;
}

.formControl {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--whiteLilac);
  border-radius: var(--smRounded);
  width: 100%;
  margin: 1rem 0 0;

  & > label {
    padding: 1rem;
  }
}

.select {
  margin: 1rem;
}

.radio {
  display: inline-flex;
  align-items: center;
  width: 100%;

  & > label {
    padding: 1rem 0;
    display: inline-flex;

    & > [type='radio'] {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
}

.label {
  border-left: 1px solid var(--whiteLilac);
  padding: 1rem;
}

.terms {
  margin-top: 1rem;
}

.box {
  flex: 1;
}

.externalLink {
  margin-left: 5px;
  text-decoration: underline;
}

.formErrorMessage {
  color: var(--cinnabar);
  font-size: var(--xs);
  height: 16px;
}

.flex {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1rem;

  & > [type='checkbox'] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
