@import '@styles/mixins.scss';

.content {
  background-color: var(--royalBlue);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  color: var(--chineseWhite);
  padding: 1rem;
  margin-bottom: 2rem;

  @include flexEvenly;
  flex-direction: column;

  @include sm {
    padding: 4rem;
  }

  @include md {
    padding: 6rem;
  }

  @include lg {
    padding: 2rem;
    height: 95vh;
  }

  @include xl {
    padding: 2rem 0 2rem 8rem;
  }
}

.header {
  max-width: 200px;

  @include sm {
    max-width: 250px;
  }

  @include md {
    max-width: 300px;
  }

  @include lg {
    max-width: 350px;
  }
}

.heading {
  line-height: 1.25;
  font-weight: 300;
  font-size: var(--heading);

  & > span {
    font-weight: 600;
  }
}

.box {
  margin-bottom: 1.5rem;
}

.flex {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  & > img {
    width: 24px;
    margin-right: 5px;
  }
}

.footer {
  color: var(--whiteLilac);
}
