@import '@styles/mixins.scss';

.content {
  border: 1px solid blue;
  height: 95vh;
  padding: 1rem;
  margin-bottom: 2rem;

  @include flexEvenly;
  flex-direction: column;

  @include lg {
    padding: 2rem;
  }

  @include xl {
    padding: 2rem 8rem 2rem 0;
  }
}

.formControl {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--geyser);
  border-radius: var(--smRounded);
  width: 100%;
  margin: 1rem 0 0;
}
