@import '@styles/mixins.scss';

.content {
  & svg {
    margin: auto;
  }
}

.accordionTitle {
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  color: var(--riverBed);
  padding: 1.5rem 0;
  border-top: solid 1px var(--whiteLilac);
  border-bottom: solid 1px var(--whiteLilac);

  @include flexBetween;
  flex-direction: column;

  &:focus,
  &:hover,
  &.open {
    color: var(--royalBlue);
    outline: none;
  }
}

.accordionBody {
  padding: 1rem 0;
  display: inline-flex;
  line-height: 1.25;
}
