@import '@styles/mixins.scss';

.grid {
  display: grid;
}

.container {
  min-height: 95vh;
  padding: 2rem 1rem;
  margin: auto;
  max-width: 512px;

  @include flexEvenly;
  flex-direction: column;

  @include lg {
    padding: 2rem;
    margin: 0;
  }

  @include xl {
    padding: 3rem 0;
  }
}

.flex {
  width: 100%;
  margin: 1rem 0;

  @include flexBetween;
}

.text {
  & > p {
    line-height: 1;
    font-weight: 500;
    display: block;
  }
}

.fill {
  background-image: url('/Base.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 95vh;
  display: none;

  @include lg {
    display: block;
    position: relative;
  }
}

.illustration {
  background-image: url('/illustration-1.png');
  display: block;
  width: 400px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 10vw;
  bottom: 10vh;
}

.button {
  & > button {
    background-color: var(--royalBlue);
    border: none;
    color: var(--chineseWhite);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
    line-height: 1;
    border-radius: var(--smRounded);
    font-weight: 600;
    min-width: 2.5rem;
    font-size: var(--md);
    padding: 1.25rem 1.75rem;
    text-transform: uppercase;
    transition: all 300ms var(--easing) 0s;
    width: auto;
    box-shadow: var(--shadow);

    &:hover {
      background-color: darken($color: #2f80ed, $amount: 25);
    }
  }
}

.planButton {
  & > button {
    width: 114px;
    height: 120px;
    border-radius: var(--mdRounded);
    transition: all 300ms var(--easing) 0s;
    color: var(--riverBed);
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;

    & h3 {
      font-size: var(--xl);
      margin: 0;
      font-weight: 500;
    }

    & span {
      text-transform: uppercase;
      font-size: var(--xs);

      &:nth-child(3) {
        text-transform: lowercase;
      }
    }

    &:hover {
      color: inherit;
      border: 3px solid var(--mantis);
    }
  }
}

.pill {
  background-color: var(--mantis);
  border-radius: var(--mdRounded);
  display: inline-flex;
  margin: 1rem 0;

  & span {
    color: var(--chineseWhite);
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--xs);
    padding: 0.25rem 0.5rem;
  }
}
